
<div class="container">
    <br />
    <div class="row">
        <div class="col-xs-24">
            <input class="form-control" placeholder="fhir path" ng-model="path" ng-change="update()" />
            <br />
            <div class="alert alert-danger" ng-if="errors">
                <ul ng-repeat="er in errors">
                    <li> {{er[4]}}</li>
                </ul>
            </div>
            <div class="alert alert-danger" ng-if="error">
                {{error}}
            </div>
            <div class="alert alert-success" ng-if="successMessage">
                {{successMessage}}
            </div>
            <div class="spacer" ng-if="!successMessage && !error && !errors">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-16" id="resoruceInputContainer">
            <textarea ng-model="resource" ui-codemirror="codemirrorConfig" ng-change="update()" class="fh form-control"></textarea>
            <br/>
            <div class="alert alert-danger" ng-if="parseError">
                {{parseError}}
            </div>
            <div class="spacer" ng-if="!parseError">
            </div>
        </div>
        <div class="col-xs-8">
            <textarea ng-model="result" ui-codemirror="codemirrorConfig" class="fh form-control"></textarea>
        </div>
    </div>

    <div ng-if="showReturnButton()" class="row pull-left go-back">
        <button class="btn btn-success" ng-click="goBack()">
            Go back
        </button>
    </div>
</div>

