@using Newtonsoft.Json
@model FhirPathDemoSimplifier.ViewModels.ResourceIdentityViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>FhirPath Demo</title>
    <link href="~/Client/app/img/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta name='description' content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/codemirror.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Client/app/less/app.css"/>
    <link rel="stylesheet" href="~/Client/app/vendor/bootstrap/bootstrap.css"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-cookies.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/codemirror.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/mode/javascript/javascript.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="~/Client/app/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="~/Client/app/vendor/fhir.js/fhir.js"></script>
    <script src="~/Client/app/vendor/fhir.js/jqAdapter.js"></script>
    <script src="~/Client/app/vendor/require.js"></script>
    <script src="~/Client/app/vendor/angular-ui-codemirror.min.js"></script>
    <script src="~/Client/app/vendor/common.js"></script>

    <!-- Temporary fix for IE, this babel-polyfill file should be part of fhirpath bundle.js file -->
    <script src="~/Client/app/vendor/polyfill.js"></script>

    <script src="~/Client/app/app.js"></script>
    <script src="~/Client/app/controllers/indexCtrl.js"></script>

</head>
<body ng-app="app">

<div class="body-stretch">

    <div class="segment-header">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="http://simplifier.net">
                                <img src="~/Client/app/img/simplifier.png" alt="S'MPL'F'ER">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <form role="search" method="get" class="navbar-form" action="http://simplifier.net/ui/Search/Index">
                            <div class="">
                                <input style="width: 100%" type="text" value="" placeholder="Search" name="q" id="q" class="form-control">
                                <span class="input-group-btn hidden">
                                    <button type="submit" class="btn btn-success btn-strong">
                                        <span class="glyphicon glyphicon-search"></span>Search
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="segment-introduction">
        <div class="container">
            <div class="row">
                <div>
                    <h2>FhirPath Demo</h2>
                    <p class="lead">
                        FhirPath implementation in JavaScript
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div ng-view>
    </div>

</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-item">
                    <h2>This project is based on:</h2>
                </div>
                <div class="footer-item">
                    <a href="https://github.com/jmandel/fhirpath.js" target="_blank">fhirpath.js from Josh Mandel</a>
                </div>
                <div class="footer-item">
                    <a href="https://github.com/niquola/fhirpath-demo" target="_blank">FhirPathDemo from Nicola Ryzicov</a>
                </div>
            </div>
            <div class="col-md-24">
                <br />
            </div>
            <div class="col-md-24">
                <p>
                    <b>
                        <a href="https://simplifier.net/" target="_blank">SIMPLIFIER.NET</a>
                    </b>
                </p>
                <p>Copyright © 2015-2016 Furore Health Informatics</p>
                <div>
                    HL7<sup>®</sup> and FHIR<sup>®</sup> are the registered trademarks of Health Level Seven International
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var resourceIdentityModel = @Html.Raw(JsonConvert.SerializeObject(Model));
    app.value("resourceIdentityModel", resourceIdentityModel);
</script>

</body>
</html>